/*
Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC
*/

body {
 font-family: 'Montserrat';
 /* font-weight: 400; */
 /* font-size: 20px; */
 background: #2B2733;
 color: #FFF;
 margin: 0;
}

header {
  text-align: center;
  background:  #46424D;
  padding: 2px;
  font-size: 15;
}

main {
  display: flex;
}

article {
  margin-top: 3em;
}

.activity {
  width: 60%;
}

.past-activities {
  border-left: #46424D 3px solid;
  height: 600px;
  width: 40%;
}

.cat-button {
  width: 11em;
  height: 5em;
  background: transparent;
  color: #CBC9CF;
  border: #CBC9CF 2px solid;
  border-radius: 7px;
  outline:none;
}

.study {
  background: url(assets/study.svg) 4.35em 0.5em/2em no-repeat;
}

.study-active {
  color:#B3FD78;
  border:#B3FD78 2px solid;
  outline:none;
  background: url(assets/study-active.svg) 4.35em 0.5em/2em no-repeat;
}
.meditate {
  background: url(assets/meditate.svg) 4.35em 0.5em/2em no-repeat;
}

.meditate-active {
  color:#C278FD;
  border:#C278FD 2px solid;
  outline:none;
  background: url(assets/meditate-active.svg) 4.35em 0.5em/2em no-repeat;
}

.exercise {
  background: url(assets/exercise.svg) 4.35em 0.5em/2em no-repeat;
}

.exercise-active {
  color:#FD8078;
  border:#FD8078 2px solid;
  outline:none;
  background: url(assets/exercise-active.svg) 4.35em 0.5em/2em no-repeat;
}

.box {
  background: #46424D;
  margin: 1em;
  margin-top: 0;
  padding: 2em 4.2em;
  box-shadow: 6px 6px #26222D;
}

.categories {
  display: flex;
  justify-content: space-between;
}

.cat-titles {
  margin-top: 3em;
}

input {
  background: transparent;
  border: 0;
  border-bottom: 1px #CBC9CF solid;
  width: 100%;
  outline: none;
  color: #CBC9CF;
}

.time {
  display: flex;
  justify-content: space-between;
}

.time-section {
  width: 15em;
}

.start-activity {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.start-activity-button {
  padding: .5em 1.5em;
  border-radius: 6px;
  margin-top: 3em;
}

h3 {
  padding: 1em 1em .5em 1em;
  margin-bottom: 0;
}

p {
  text-align: center;
  font-size: small;
}

.msg {
  font-size: 0.7em;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count-down {
  font: 6em bold;
  font-family: 'Montserrat';
  color:white;
  font-weight: bold;
}

.start-button {
  color: #CBC9CF;
  border-radius: 50%;
  width: 10em;
  height: 10em;
  background: transparent;
  border: lightblue 0.1em solid;
  font-size: 2em;
  margin: 2em;
  outline: none;
}
.study-circle {
  border:#B3FD78 0.1em solid;
}

.meditate-circle {
  border: #C278FD 0.1em solid;
}

.exercise-circle {
  border: #FD8078 0.1em solid;
}
#log-button {
  padding: 0.5em 3.5em;
  font-size: 1.4em;
  border-radius: 6px;
}
.error-message {
  color: #EFB7EC;
  text-align: left;
}

.error-img {
  height: 1em;
}

.card-section {
  border-radius: 10px;
  margin: 1em;
  background: #46424D;
  padding: 0.05em;
}

.card{
  padding-left: 1em;
}

.card-cat {
  margin-bottom: 0;
}

.card-time {
  margin: 0px;
  color: #CBC9CF;
}

.card-accomplish {
  margin-top: 10px;
  font-size: small;
  color: #CBC9CF;
}
.card-color {
  display: flex;
  justify-content: flex-end;
}

.card-border {
  background:red;
  height: 10px;
  width: 20px;
}

.hidden {
  display: none;
}
